In [1]:
import pandas as pd
import datetime

In [2]:
file2_name = "daily_trading_info_2019-2020.xlsx"
file2 = pd.read_excel(file2_name, sheet_name = None)
company_index = []
company_index = list(file2.keys())[:]

In [3]:
print(len(company_index))

800

In [6]:
from talib import abstract

In [7]:
pd.read_excel(company_index[0]+".xlsx")

           date       open       high        low      close   volume
0    2014-01-02  21.309999  21.700001  21.230000  21.459999  5096443
1    2014-01-03  21.400000  21.450001  20.370001  20.790001  9945683
2    2014-01-06  20.680000  20.680000  20.219999  20.240000  5171376
3    2014-01-07  20.100000  20.250000  19.860001  20.000000  5364241
4    2014-01-08  20.000000  20.389999  20.000000  20.230000  5186841
...         ...        ...        ...        ...        ...      ...
1517 2020-03-25  24.600000  24.850000  24.500000  24.799999  7072723
1518 2020-03-26  24.620001  25.290001  24.580000  25.129999  8346083
1519 2020-03-27  25.320000  25.799999  25.150000  25.180000  8794212
1520 2020-03-30  25.150000  25.570000  24.950001  25.450001  8179292
1521 2020-03-31  25.500000  25.540001  25.150000  25.350000  5331630

[1522 rows x 6 columns]

In [8]:
df = pd.read_excel(company_index[0]+".xlsx")

In [9]:
inputs = {
    'open': df["open"],
    'high': df["high"],
    'low':  df["low"],
    'close': df["close"],
    'volume': df["volume"]
}
# uses close prices (default)
out1 = abstract.SMA(inputs, timeperiod=5)
out2 = abstract.SMA(inputs, timeperiod=10)
out3 = abstract.SMA(inputs, timeperiod=15)
out4 = abstract.SMA(inputs, timeperiod=60)

In [10]:
pd.DataFrame(out1, columns=["ma5"]).head(20)

       ma5
0      NaN
1      NaN
2      NaN
3      NaN
4   20.544
5   20.256
6   19.946
7   19.742
8   19.640
9   19.560
10  19.538
11  19.636
12  19.678
13  19.776
14  19.830
15  19.832
16  19.794
17  19.722
18  19.552
19  19.328

In [11]:
for w in range(0, len(company_index)):
    df = pd.read_excel(company_index[w]+".xlsx")
    inputs = {
    'open': df["open"],
    'high': df["high"],
    'low':  df["low"],
    'close': df["close"],
    'volume': df["volume"]
    }
    # uses close prices (default)
    out1 = abstract.SMA(inputs, timeperiod=5)
    out2 = abstract.SMA(inputs, timeperiod=10)
    out3 = abstract.SMA(inputs, timeperiod=15)
    out4 = abstract.SMA(inputs, timeperiod=60)
    a =  pd.DataFrame(out1, columns=["ma5"])
    b = pd.DataFrame(out2, columns=["ma10"])
    c = pd.DataFrame(out3, columns=["ma15"])
    d = pd.DataFrame(out4, columns=["ma60"])
    pd.concat([df,a , b, c,d], axis=1).to_excel(company_index[w]+".xlsx", \
                                              sheet_name = company_index[w], index=False)
    if(w%100==0):
        print(w)
0

0
100
200
300
400
500
600
700

0

In [12]:
train_set = pd.read_excel("strategy_results_train.xlsx")

In [13]:
import copy

In [14]:
dataset = copy.deepcopy(train_set)

In [15]:
temp = []
for i in range(0, dataset.shape[0]):
# for i in range(0, 10):
    if(i%1000==0):
        print(i, datetime.datetime.now())
    trade_company = dataset.iloc[i][0].split("_")[0]
    trade_date    = dataset.iloc[i][0].split("_")[1]
    df = pd.read_excel(trade_company+".xlsx")
    trade_date_datetime = datetime.date(int(trade_date[:4]), int(trade_date[4:]), 1) - datetime.timedelta(days=1)
    lower_index = 0
    for index in range(0, df.shape[0]):
        if(df["date"].iloc[index]< trade_date_datetime):
            lower_index = index
        else:
            break
#     print(list(df.iloc[lower_index, :]))
    temp.append(list(df.iloc[lower_index, :]))

0 2020-06-18 14:38:32.794620
1000 2020-06-18 14:42:41.535600
2000 2020-06-18 14:46:05.386805
3000 2020-06-18 14:49:39.683089
4000 2020-06-18 14:53:08.367358
5000 2020-06-18 14:56:26.975941
6000 2020-06-18 15:00:09.550309
7000 2020-06-18 15:03:42.570828
8000 2020-06-18 15:07:38.455771
9000 2020-06-18 15:11:24.078941
10000 2020-06-18 15:14:44.773638
11000 2020-06-18 15:17:58.086714
12000 2020-06-18 15:21:21.129511
13000 2020-06-18 15:24:39.384563
14000 2020-06-18 15:28:03.497995
15000 2020-06-18 15:31:27.139172
16000 2020-06-18 15:34:55.069388
17000 2020-06-18 15:38:22.363114
18000 2020-06-18 15:41:44.594608
19000 2020-06-18 15:45:18.276787
20000 2020-06-18 15:48:41.171519
21000 2020-06-18 15:52:03.430578
22000 2020-06-18 15:55:24.131327
23000 2020-06-18 15:58:49.449226
24000 2020-06-18 16:02:16.155787
25000 2020-06-18 16:05:34.543866
26000 2020-06-18 16:08:57.997146
27000 2020-06-18 16:12:03.462713
28000 2020-06-18 16:15:28.136275
29000 2020-06-18 16:18:47.565585
30000 2020-06-18 16:22:08.831877
31000 2020-06-18 16:25:06.990128

In [16]:
temp[1]

[Timestamp('2015-01-30 00:00:00'),
 22.9899997711182,
 23.1900005340576,
 22.5100002288818,
 22.5799999237061,
 7880595,
 23.32000007629393,
 23.38600006103515,
 23.59000002543129]

In [17]:
pd.DataFrame(temp).to_excel("train_output.xlsx", index=False)

In [27]:
testset = pd.read_excel("sampleSubmission.xlsx")

In [28]:
testset.head()

                   id  label
0  SHSE.600085_201901      0
1  SHSE.600085_201902      0
2  SHSE.600085_201903      0
3  SHSE.600085_201904      0
4  SHSE.600085_201905      0

In [29]:
temp = []
for i in range(0, testset.shape[0]):
# for i in range(0, 10):
    if(i%1000==0):
        print(i, datetime.datetime.now())
    trade_company = testset.iloc[i][0].split("_")[0]
    trade_date    = testset.iloc[i][0].split("_")[1]
    df = pd.read_excel(trade_company+".xlsx")
    trade_date_datetime = datetime.date(int(trade_date[:4]), int(trade_date[4:]), 1) - datetime.timedelta(days=1)
    lower_index = 0
    for index in range(0, df.shape[0]):
        if(df["date"].iloc[index]< trade_date_datetime):
            lower_index = index
        else:
            break
#     print(list(df.iloc[lower_index, :]))
    if(lower_index==0):
        temp.append(dash = ["-","","","","","","","",""])
    else:
        temp.append(list(df.iloc[lower_index, :]))

0 2020-06-18 17:28:10.072148
1000 2020-06-18 17:31:59.959666
2000 2020-06-18 17:35:27.031478
3000 2020-06-18 17:39:24.308738
4000 2020-06-18 17:42:28.216047
5000 2020-06-18 17:46:13.208176
6000 2020-06-18 17:50:05.769107
7000 2020-06-18 17:53:48.989996
8000 2020-06-18 17:57:26.195505
9000 2020-06-18 18:03:38.269865
10000 2020-06-18 18:07:05.152722
11000 2020-06-18 18:10:01.400625

In [30]:
pd.DataFrame(temp).to_excel("test_output.xlsx", index=False)